<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test 2</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="app" class="h-full">
        <h1 v-for="ret in items" class="'text-4xl bold m-2">{{ ret.message }}</h1>

        <div> 
             <span v-if="numbers>0"class="test-red-500">Positive number</span>
             <span v-else="numbers"class="text-red-500">Negative number</span>
       </div>

  </div>
</body>
<script>
    let app = Vue.createApp({
        data(){
            return{
                items: [
                    {message: 'This is Vue Js'},
                    {message: 'This is Kim'},
                    {message: 20},
                    {message: 'Hello bb'}
                ],
                numbers : 2
            }
        },
        computed:{
            checkMsg(){
                return this.items.length > 0 ? 'There is message': 'No message'
            }
        }
    })
   
    app.mount ('#app')
        
    
</script>
</html>